<div class="row main-container" style="min-height:90%;">
  <div class="col-2 nav-left-menu">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <nav class="nav flex-column bg-inverse">
      <a class="nav-link" href="javascript:void(0)" *ngFor="let framework of displayFrameWorks" (click)="changeView(framework.name)">{{framework.name}}
        <i class="fa fa-arrow-right" *ngIf="framework.name === currentStatus" aria-hidden="true"></i></a>
    </nav>
  </div>
  <div class="col-10 main-content">
    <div class="container">
      <div class="row" [hidden]="framework.name !== currentStatus" *ngFor="let framework of displayFrameWorks">
        <div class="col text-center">
          <h4>{{framework.name}}</h4></div>
        <div class="w-100 dropdown-divider"></div>
        <div class="col text-left"><p>{{framework.description}}</p></div>
        <div class="w-100 dropdown-divider"></div>
        <div class="col text-left">
          <p><b>Version: </b>{{framework.version}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
